{# templates/contract/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Éditer le Contrat{% endblock %}

{% block body %}
    {% if successMessage is defined %}
        <div class="alert alert-success">
            {{ successMessage }}
        </div>
        <a href="{{ path('afficher_contrat') }}"><button>Retour aux résultats</button></a>
    {% else %}
        <h1>Éditer le Contrat</h1>

        {{ include('contract/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('afficher_contrat') }}">Retour à la liste</a>
    {% endif %}
{% endblock %}
